<h1>
  Edit saved song #<%= @saved_song.id %>
</h1>

<hr>

<form action="/update_saved_song/<%= @saved_song.id %>" method="post">

  <div class="form-group">
    <label for="search_id">
      Search
    </label>

    <%= select_tag(:search_id, options_from_collection_for_select(Search.all, :id, :song_saved, @saved_song.search_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update saved song
  </button>
</form>

<hr>

<a href="/saved_songs">
  Go back
</a>
