<h1>
  Add a new saved song
</h1>


<hr>

<!-- Form saved_song start -->
<form action="/create_saved_song" method="post">
<!-- Form saved_song end -->

  <!-- Label and input for search_id start -->
  <div class="form-group">
    <label for="search_id">
      Search
    </label>

    <!-- Input for search_id start -->
    <input type="text" id="search_id" name="search_id" class="form-control">
    <!-- Input for search_id end -->
  </div>
  <!-- Label and input for search_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create saved song
  </button>
</form>

<hr>

<a href="/saved_songs">
  Go back
</a>
